@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-menu {
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
}

.visible-menu {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.transition-menu {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: all;
  transition-duration: 500ms;
}

.scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 3px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 3px; 
  }


.item0{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 600 600'%3E%3Cpath d='M175.98585510253906,66.31897735595703C179.4198455810547,30.469423929850258,231.5269343058268,90.423277537028,264.67242431640625,109.218994140625C297.81791432698566,128.01471074422201,351.56736755371094,141.76727294921875,374.8587951660156,179.09327697753906C398.1502227783203,216.41928100585938,391.28223673502606,286.2437922159831,404.4209899902344,333.1750183105469C417.5597432454427,380.10624440511066,467.2779795328776,429.1277211507161,453.6913146972656,460.6806335449219C440.1046498616536,492.2335459391276,363.66099548339844,516.3710276285807,322.9010009765625,522.4924926757812C282.14100646972656,528.6139577229818,222.27010091145834,530.4387868245443,209.13134765625,497.409423828125C195.99259440104166,464.38006083170575,249.5927302042643,396.16472244262695,244.0684814453125,324.3163146972656C238.5442326863607,252.4679069519043,172.55186462402344,102.16853078206381,175.98585510253906,66.31897735595703C179.4198455810547,30.469423929850258,231.5269343058268,90.423277537028,264.67242431640625,109.218994140625' fill='url(%22%23SvgjsLinearGradient1009%22)'/%3E%3Cdefs%3E%3ClinearGradient id='SvgjsLinearGradient1009' gradientTransform='rotate(29, 0.5, 0.5)'%3E%3Cstop stop-color='hsl(230, 55%, 50%)' offset='0'/%3E%3Cstop stop-color='hsl(230, 55%, 70%)' offset='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

  background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.item1{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 600 600'%3E%3Cpath d='M139.25705980342116 284.900048897036C145.22922014277663 334.6182826413394 169.2671623933463 419.8708740923485 189.4232051281282 457.794091865786C209.57924786291008 495.7173096392235 222.71801001907875 506.76580207086454 260.19331621211256 512.4393555376616C297.66862240514644 518.1129090044585 378.7406896658886 511.99145412978373 414.2750422863313 491.83541266656727C449.809394906774 471.67937120335114 471.3091761974641 428.6798060788394 473.3994319347688 391.50310675836414C475.4896876720735 354.32640743788886 446.823310922399 301.62209733860504 426.81657671015944 268.7752167437157C406.8098424979199 235.9283361488264 370.52898414017244 221.89375973281076 353.3590266613313 194.4218231890282C336.1890691824902 166.94988664524564 357.09162909866853 109.76645311253081 323.79683183711256 103.94359748102039C290.5020345755566 98.12074184950997 184.34687176427727 129.32528083062977 153.59024309199538 159.4846893999657C122.83361441971346 189.64409796930164 133.2848994640657 235.18181515273264 139.25705980342116 284.900048897036C145.22922014277663 334.6182826413394 169.2671623933463 419.8708740923485 189.4232051281282 457.794091865786' fill='url(%22%23SvgjsLinearGradient1000%22)' stroke-width='0' stroke='hsl(265, 55%, 20%)' fill-opacity='1' transform='matrix(1,0,0,1,-3.0593109130859375,-8.846549987792969)'/%3E%3Cdefs%3E%3ClinearGradient id='SvgjsLinearGradient1000' gradientTransform='rotate(0, 0.5, 0.5)'%3E%3Cstop stop-color='hsl(230, 55%, 50%)' offset='0'%3E%3C/stop%3E%3Cstop stop-color='hsl(230, 55%, 70%)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3CradialGradient id='SvgjsRadialGradient1001'%3E%3Cstop stop-color='hsl(340, 45%, 50%)' offset='0'%3E%3C/stop%3E%3Cstop stop-color='hsl(340, 45%, 80%)' offset='1'%3E%3C/stop%3E%3C/radialGradient%3E%3ClinearGradient id='SvgjsLinearGradient1002'%3E%3Cstop stop-color='hsl(30, 100%, 50%)' offset='0'%3E%3C/stop%3E%3Cstop stop-color='hsl(30, 100%, 70%)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

  background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.item2{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 600 600'%3E%3Cpath d='M181.3607940673828,387.12353515625C191.66277058919272,327.99914805094403,210.0271733601888,222.88912455240884,228.8394775390625,181.08399963378906C247.6517817179362,139.27887471516928,267.9571126302083,131.2164510091146,294.234619140625,136.29278564453125C320.5121256510417,141.3691202799479,355.1506703694661,167.9452362060547,386.5045166015625,211.54200744628906C417.8583628336589,255.13877868652344,487.5833384195964,352.6342951456706,482.3576965332031,397.8734130859375C477.1320546468099,443.1125310262044,407.70567830403644,459.98389689127606,355.1506652832031,482.9767150878906C302.5956522623698,505.9695332845052,195.9925969441732,551.8058522542318,167.02761840820312,535.830322265625C138.06263987223306,519.8547922770182,171.0588175455729,446.24792226155597,181.3607940673828,387.12353515625C191.66277058919272,327.99914805094403,210.0271733601888,222.88912455240884,228.8394775390625,181.08399963378906' fill='url(%22%23SvgjsLinearGradient1004%22)'/%3E%3Cdefs%3E%3ClinearGradient id='SvgjsLinearGradient1004'%3E%3Cstop stop-color='hsl(230, 55%, 50%)' offset='0'%3E%3C/stop%3E%3Cstop stop-color='hsl(230, 55%, 70%)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

  background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.item3{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 600 600'%3E%3Cpath d='M306.7761535644531,126.43872833251953C265.56824747721356,110.91111119588216,221.8221893310547,91.80020014444987,196.58981323242188,120.16796112060547C171.35743713378906,148.53572209676108,141.79523213704428,242.89585240681967,155.38189697265625,296.6452941894531C168.96856180826822,350.3947359720866,236.7525889078776,405.33860778808594,278.10980224609375,442.66461181640625C319.4670155843099,479.99061584472656,370.3796895345052,529.858164469401,403.5251770019531,520.601318359375C436.67066446940106,511.34447224934894,481.01393636067706,427.88352966308594,476.98272705078125,387.12353515625C472.95151774088544,346.36354064941406,384.86216735839844,305.0063298543294,379.3379211425781,276.0413513183594C373.8136749267578,247.0763727823893,455.9308776855469,238.26743443806967,443.8372497558594,213.3336639404297C431.7436218261719,188.3998934427897,347.9840596516927,141.9663454691569,306.7761535644531,126.43872833251953C265.56824747721356,110.91111119588216,221.8221893310547,91.80020014444987,196.58981323242188,120.16796112060547' fill='url(%22%23SvgjsLinearGradient1005%22)' fill-opacity='1'/%3E%3Cdefs%3E%3ClinearGradient id='SvgjsLinearGradient1005' gradientTransform='rotate(104, 0.5, 0.5)'%3E%3Cstop stop-color='hsl(230, 55%, 50%)' offset='0'%3E%3C/stop%3E%3Cstop stop-color='hsl(230, 55%, 70%)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");


  background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

.item4 {
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 600 600'%3E%3Cpath d='M251.23507690429688,115.58930206298828C257.6551462809245,80.20425287882486,286.0229034423828,68.40922927856445,318.421875,98.56864166259766C350.8208465576172,128.72805404663086,432.042241414388,233.39017868041992,445.62890625,296.5457763671875C459.215571085612,359.7013740539551,444.5837656656901,446.74560546875,399.9418640136719,477.5022277832031C355.2999623616536,508.25885009765625,222.56869761149088,500.19642639160156,177.77749633789062,481.08551025390625C132.98629506429037,461.97459411621094,114.17399597167969,391.2044932047526,131.1946563720703,362.83673095703125C148.21531677246094,334.4689687093099,259.8947219848633,352.08684158325195,279.9014587402344,310.8789367675781C299.90819549560547,269.6710319519043,244.81500752766928,150.9743512471517,251.23507690429688,115.58930206298828C257.6551462809245,80.20425287882486,286.0229034423828,68.40922927856445,318.421875,98.56864166259766' fill='url(%22%23SvgjsLinearGradient1007%22)' fill-opacity='1'%3E%3C/path%3E%3Cdefs%3E%3ClinearGradient id='SvgjsLinearGradient1007' gradientTransform='rotate(146, 0.5, 0.5)'%3E%3Cstop stop-color='hsl(230, 62%, 50%)' offset='0'%3E%3C/stop%3E%3Cstop stop-color='hsl(230, 59%, 65%)' offset='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");


  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



